@charset "UTF-8";
/**
* Eric Meyer's Reset CSS v2.0
*/
  /*F6JCmwE*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
  /*demo!fJjFkJp0mCXKgt7*/
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
  /*0*/
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
  /*demo!J1RCuLsB*/
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, textarea {
  margin: 0;
  padding: 0;
  /*demo!JY5O1kXDU0XFakswR9*/
  border: 0;
  /*demo!hCD9bZnIuWspB*/
  font: inherit;
  font-size: 100%;
  /*LpRAEs*/
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
  /*demo!mgi*/
article, aside, details, figcaption, figure,
  /*jtGvKBQ9e6LbAJyu*/
footer, header, menu, nav, section, time {
  display: block;
  /*demo!oQFgExJnH*/
}

body {
  line-height: 1;
  color: black;
  background: white;
  /*demo!71aAUrD2A4jZt7*/
}
  /*demo!XcBoHkoDsONWMEUrlaS*/

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}
  /*demo!V3gugn7LdI*/

blockquote, q {
  quotes: none;
  /*z05ZbpwEB*/
}

  /*demo!VfMP2GnFINAUi*/
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
  /*demo!XNg*/
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* meyerweb css reset end */
  /*demo!*/

textarea:focus, input:focus {
  outline: 0;
}

  /*demo!SG9m6GzECI*/
input {
  border-width: 0;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  /*demo!W6RPkYjd4w9NPH35KX*/
  margin-top: 0;
  /*demo!bK*/
  margin-bottom: 0;
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

  /*demo!ewx1SF9mQ3uro*/
.group {
  /*demo!0MLd9lRz6FedHW8kO*/
  zoom: 1; /* ie 6/7 */
  /*XtR6eVhPzIi2a*/
}
  /*VoiZoRkKoP*/

embed,
img,
object,
  /*demo!IQXWpDioIesYKnx*/
video {
  max-width: 100%;
}
sup {
  font-size: 58.3%;
  vertical-align: text-top;
}
sub {
  font-size: 58.3%;
  /*demo!vfmAPVdgsX*/
  vertical-align: text-bottom;
}
.no-space-between-inline-blocks {
  *letter-spacing: normal; /*reset IE < 8*/
  letter-spacing: -0.31em; /*webkit*/
  word-spacing: -0.43em; /*IE < 8 && gecko*/
}
/*restore spacing on inner elements*/
  /*n8cvM*/
.no-space-between-inline-blocks > * {
  letter-spacing: normal;
  word-spacing: normal;
}
.displace {
  /*zdlCT*/
  left: -5000px;
  position: absolute;
  /*aVW4*/
}
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
  /*aGOnC36SGpfKDu*/
*:after,
*:before {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  font-size: 16px;
}
  /*c*/
body {
  /*Y*/
  min-width: 960px;
  color: #000000;
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0;
  /*yh6GxZOcF*/
  text-decoration: none;
}
.global_container_ {
  float: none;
  height: auto;
  margin: 0 auto;
  position: relative;
  /*demo!dbvzwrnRx94N*/
  width: 100%; /* 1600px / 1600px = 100% */
  background: #ffffff center 0;
  background-position: center top;
  /*demo!tz8omy0*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.hero {
  position: relative;
}
.image {
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/photo-1459666644539-a9755.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  /*demo!se5RzLM5LOAdYjomR*/
  -o-background-size: cover;
  /*demo!YB2paM8scUOU4ph0200*/
  background-size: cover;
}
.col {
  padding: 7px 0 354px;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  /*demo!qXyuzNynbPPz*/
  background: url(images/layer_627.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  /*demo!D4WRpVYT1bh18*/
  -moz-background-size: cover;
  /*jQ4skTt4CvLScm*/
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-3 {
  margin: 0 auto;
  position: relative;
  width: 960px;
}
  /*demo!o0*/
.row-2 {
  left: 11px;
  /*G91tX*/
  margin: 0 auto;
  position: relative;
  width: 938px;
  /*demo!U*/
}
.logo {
  float: left;
  /*demo!JS4t190cQXDYHWn*/
}
.nav {
  float: right;
  margin: 17px 0 0;
  position: relative;
  width: 199px;
}
.text {
  color: #fefeff;
  font-size: 12px;
  font-style: italic;
  /*demo!0d*/
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.row-3 {
  margin: 2px 0 0;
  position: relative;
}
.shape-1-copy {
  float: left;
  height: 1px;
  margin: 0 49px 0 0;
  width: 84px;
  background: #ffffff;
}
.shape-1-copy-2 {
  float: left;
  height: 1px;
  width: 66px;
  /*demo!bX*/
  background: #ffffff;
}
.text-2 {
  display: block;
  margin: 189px auto 0;
  position: relative;
  /*demo!7iTnXkzU3oe*/
  right: 90px;
}
  /*demo!JJu8qFyRv2RB*/
.main-content-wrapper {
  margin: 15px 0 0;
  position: relative;
  /*u7bQacLQ*/
}
.sticky-nav {
  margin: 0 auto;
  padding: 0 0 0 22px;
  position: relative;
  /*demo!MVv4MRMapiKmo3yb*/
  width: 960px;
}
.logo-2 {
  float: left;
  position: relative;
  width: 164px;
}
.vector-smart-object {
  float: left;
  margin: 0 9px 0 0;
}
  /*demo!lkHPsyE*/
.text-3 {
  float: left;
  margin: 1px 0 0;
}
.nav-2 {
  float: right;
  margin: 14px 0 0;
  position: relative;
  /*demo!1t2wIs8qg*/
  width: 199px;
}
.text-4 {
  color: #414f6b;
  font-size: 12px;
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  /*Kg9kNT8T*/
  text-transform: uppercase;
}
.row {
  margin: 2px 0 0;
  position: relative;
}
  /*demo!sn8*/
.shape-1-copy-3 {
  float: left;
  height: 1px;
  margin: 0 49px 0 0;
  width: 84px;
  background: #414f6b;
}
.shape-1-copy-2-2 {
  float: left;
  height: 1px;
  width: 66px;
  /*IS5*/
  background: #414f6b;
}
.bg {
  /*demo!56IiyKIH8zfXjv4k*/
  margin: 14px auto 0;
  padding: 44px 0 453px;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/peak_2.jpg) no-repeat center 0;
  /*YKdEk4OtZSJ2q*/
  background-position: center top;
  /*gH9tA*/
  -webkit-background-size: cover;
  /*demo!Lf3pPrRBY*/
  -moz-background-size: cover;
  -o-background-size: cover;
  /*demo!TuVetRrdETWlYADdr*/
  background-size: cover;
}
.text-5 {
  margin: 0 auto;
  position: relative;
  width: 960px;
  z-index: 0;
  /*demo!gsIxNhmx8vUS*/
}
.wrapper-2 {
  height: 148px;
  overflow: hidden;
  position: relative;
  width: 249px;
  z-index: 85;
  /*demo!2*/
}
.history {
  left: 50%;
  position: absolute;
  top: 77px;
  /*demo!g*/
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 4.5px;
  /*demo!uQgZCcazwlb9MzRaSX4*/
}
  /*demo!*/
.text-6 {
  left: 50%;
  position: absolute;
  top: 0;
  opacity: 0.5;
  /*demo!VHPCS8KuzrT*/
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 135.62753px;
  font-weight: bold;
  line-height: 148px;
  margin-left: -124.5px;
  /*demo!E277gKhnzdsSRX7U*/
}
  /*demo!omlOcwMubLWJtf*/
.text-7 {
  /*demo!lp*/
  margin: -8px auto 0;
  position: relative;
  width: 813px;
  z-index: 84;
  font-weight: 300;
  /*demo!sGPvZuCmxccz9Gh2i76*/
  line-height: 24px;
  /*demo!14WDJNE0t0L3*/
}
.bg-2 {
  height: 195px;
  margin: 0 auto;
  position: relative;
  width: 100%; /* 1600px / 1600px = 100% */
  background: #414f6b;
}
.image-2 {
  height: 195px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/peak.jpg) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  /*demo!uxq4*/
  -o-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  /*ElPS*/
}
.thumbnails {
  /*AlMXCe06I53t*/
  left: 50%;
  padding: 0 25px;
  position: absolute;
  top: 25px;
  width: 960px;
  margin-left: -480px;
  /*demo!W4UiqnoHz*/
}
.thumbnails > * {
  /*demo!h94YR*/
  float: left;
  margin: 0 10px 0 0;
}
.thumbnails > *:last-child {
  margin-right: 0 !important;
  /*demo!uWggnV5An8lKLdJO*/
}
.rectangle-23-copy {
  /*E*/
  width: 220px;
}
.rectangle-23 {
  /*pYiAYtX48h*/
  width: 220px;
}
.rectangle-23-copy-2 {
  width: 220px;
}
  /*demo!gsNuMWTrdXv6iZLF*/
.rectangle-23-2 {
  /*gMylc98GbDL82c6*/
  width: 220px;
}
.circle-nav {
  left: 50%;
  position: absolute;
  /*demo!rSjNGjUN9DEDMQHS3U1*/
  top: 171px;
  /*BwmQjmdPjZ6NCie*/
  width: 30px;
  margin-left: -15px;
  /*demo!UHkjFAU*/
}
.circle-nav > * {
  float: left;
  margin: 0 6px 0 0;
}
.circle-nav > *:last-child {
  /*demo!N*/
  margin-right: 0 !important;
}
.ellipse-1 {
  height: 6px;
  /*demo!tyRB8W8gxN5T8*/
  width: 6px;
  -webkit-border-radius: 50%;
  /*demo!4BgCuL7z6418*/
  -moz-border-radius: 50%;
  border-radius: 50%;
  /*demo!nSawZRl92s21*/
  background: #ffffff;
}
.ellipse-1-copy {
  height: 6px;
  width: 6px;
  /*demo!*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  /*demo!K4zRsBe0Gj6*/
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
  /*5wm1SeNN7qxTSKUo*/
.ellipse-1-copy-2 {
  height: 6px;
  /*demo!eZLY8amKZMwTV2y8*/
  width: 6px;
  /*demo!*/
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2);
}
  /*demo!upow6Fag114gIn8tHT*/
.group-2 {
  margin: 15px auto 0;
  position: relative;
}
.text-8 {
  margin: 0 auto;
  /*demo!Z72Z6tED12bQ*/
  padding: 0 38px;
  position: relative;
  width: 960px;
}
.wrapper {
  float: left;
  height: 148px;
  margin: 0 22px 0 0;
  /*demo!*/
  position: relative;
  /*SyzG*/
  width: 244px;
  /*wSb8BGWeP3Y*/
}
.climb {
  left: 50%;
  position: absolute;
  top: 77px;
  color: #414f6b;
  /*demo!ArNV*/
  font-family: Oswald, sans-serif;
  /*demo!SecTh01Iag7cE*/
  font-size: 32px;
  font-weight: bold;
  line-height: 35px;
  margin-left: 32px;
}
.text-9 {
  left: 50%;
  position: absolute;
  /*demo!iNR*/
  top: 0;
  opacity: 0.5;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  /*c4fqSMNxhOKyHaRN*/
  font-size: 135.62753px;
  font-weight: bold;
  line-height: 148px;
  margin-left: -122px;
}
.text-10 {
  float: left;
  margin: 52px 0 0;
  width: 611px;
  /*demo!xiSfawNz48fr*/
  font-weight: 300;
  line-height: 24px;
}
  /*demo!MCC*/
.tabs {
  /*demo!s4mfaehCzNh0*/
  height: 40px;
  margin: 17px auto 0;
  padding: 8px 0 6px;
  position: relative;
  background: url(images/rectangle_20.jpg) no-repeat center 0;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.l-constrained-2 {
  margin: 0 auto;
  padding: 0 18px;
  position: relative;
  width: 960px;
  /*demo!FTYshVdkGfoKC0Ff*/
}
.text-11 {
  float: left;
  margin: 0 36px 0 0;
  width: 108px;
  color: #414f6b;
  /*demo!Us4zeoNfCw5*/
  font-family: Oswald, sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-decoration: underline;
  /*demo!5Ia*/
}
.text-12 {
  /*FheYhYN70GgRm0U7*/
  float: left;
  /*demo!WmoflLZ6pFza4JFtSp*/
  width: 110px;
  /*demo!*/
  color: #b0b4be;
  font-family: Oswald, sans-serif;
  /*demo!*/
  font-size: 20px;
  font-weight: bold;
  /*demo!F2gBHaTISP*/
}
  /*demo!B5GQgx80a7f3b*/
.tab-content {
  height: 546px;
  /*demo!DJLMgW4bImKd0*/
  margin: 0 auto;
  position: relative;
  /*xEikvvL*/
  width: 100%; /* 1600px / 1600px = 100% */
  /*demo!*/
}
.tab-2 {
  left: 0;
  padding: 101px 0 216px;
  position: absolute;
  top: 0;
  width: 100%; /* 1600px / 1600px = 100% */
  background: url(images/photo-1414449381078-c7768.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.content {
  margin: 0 auto;
  min-height: 229px;
  /*8JV0WhZKdEsW9fEGrNt*/
  padding: 18px 0 21px;
  position: relative;
  right: 273px;
  width: 352px;
  background: rgba(255, 255, 255, 0.7);
  /*demo!4a*/
}
.schedule {
  margin: 0 0 0 41px;
  /*demo!TVnqv3WrTpzE7Q*/
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  font-weight: bold;
}
.text-13 {
  margin: 11px 0 0 40px;
  width: 312px;
  font-weight: 300;
  line-height: 24px;
}
.tab-1 {
  left: 0;
  padding: 101px 0 216px;
  /*demo!fVnfo1x7M*/
  position: absolute;
  top: 0;
  width: 100%; /* 1600px / 1600px = 100% */
  /*demo!*/
  background: url(images/photo-1417021423914-07097.png) no-repeat center 0;
  background-position: center top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  /*demo!cZepSX8oal*/
  -o-background-size: cover;
  /*demo!29*/
  background-size: cover;
  /*demo!vw2iFJjZlVOFat3Py*/
}
.content-2 {
  /*demo!y8KSuaqVHSLz6D*/
  margin: 0 auto;
  min-height: 229px;
  padding: 18px 0 21px;
  position: relative;
  right: 273px;
  width: 352px;
  background: rgba(255, 255, 255, 0.7);
}
  /*demo!5AVNEZtGsc1eLD*/
.schedule-2 {
  /*demo!GXvh2LO6d4QkocoN9U*/
  margin: 0 0 0 41px;
  color: #414f6b;
  font-family: Oswald, sans-serif;
  font-size: 32px;
  /*demo!MIFxbGYbzmJ*/
  font-weight: bold;
}
.text-14 {
  margin: 11px 0 0 40px;
  /*demo!94BFQlrekoV0IwaUe*/
  width: 312px;
  font-weight: 300;
  line-height: 24px;
}
.footer {
  position: relative;
}
  /*demo!KbBzCPAQzyMYFADnJLR*/
.footer-2 {
  /*demo!542jklhSYH3Zl0xL*/
  padding: 16px 0 15px;
  position: relative;
  background: #414f6b;
}
.l-constrained {
  margin: 0 auto;
  padding: 0 0 0 23px;
  position: relative;
  /*demo!DqHnfVr*/
  width: 960px;
}
.logo-3 {
  float: left;
  position: relative;
  width: 163px;
}
.vector-smart-object-2 {
  /*demo!Ga9MhDMm8hLfKllv01*/
  float: left;
  margin: 0 10px 0 0;
}
.text-15 {
  float: left;
}
  /*demo!uCPeBy9JHBL2vkol*/
.text-16 {
  /*demo!I8nu58Wclx5SbpxOJA*/
  float: right;
  margin: 13px 0 0;
  width: 264px;
  color: #63769d;
  font-size: 12px;
  /*PWe8nPNe*/
  font-style: italic;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
  /*demo!Q5X211mnTwFL2*/
.text-style {
  line-height: 24px;
}

@media only screen and (min-width: 320px), only screen and (max-device-width: 480px) {
  
}